body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  background-color:rgb(160, 136, 1);
}
h1 {
  color: rgb(146, 247, 159);
}
li {
  color: lightgray;
  padding-top: 3px;
  font-size: 15px;
}
.note {
  color: lightgray;
  padding-top: 5px;
  font-size: 15px;
}
.footer:hover, .note:hover, h1:hover {
  top:-0.5px;
  left:-0.5px;
  color:white;
  position:relative;
}
.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
